<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="UTF-8">
	<title>Xenera Geo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name = 'description' content = 'xenera geo++ portal'>
	<meta name = 'author' content = 'precious nliwasa'>

        <style>

            body {background-image: url('https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMGJsdWV8ZW58MHx8MHx8&w=1000&q=80');
                  background-size:cover;
                  background-position:center;
                  background-attachment: fixed;
		  background-color:transparent}

            .left {position: absolute;margin-left: 290px;margin-top: 5px;}


         
        </style>

    </head>

    <body>

        <div class = 'left'>
            <h1 style = 'color:rgb(193, 224, 227);font-family:Georgia;font-size: 60px;border-style: ridge;border-radius: 20px;padding: 20px;text-align: center;'>Xenera Geo++ Portal </h1>
            <h4 style="color:rgb(193, 224, 227);font-size: 30px;font-family: georgia;"> - Mini edition -</h4>

            <br>
            <br>
            <div style="position: absolute;">
                  &nbsp &nbsp &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(193,224,227)" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg>
                <br>
                <h2 style="color:rgb(193,224,227);">editing</h2>
            </div>
            <div style="float: right;margin-right:0px;position:relative;">
                &nbsp &nbsp &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(193,224,227)" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                  </svg>
                <br>
                <h2 style="color:rgb(193,224,227);">elevation</h2>
            </div>
            <div style = 'position: relative;float: right;margin-right: 100px;'>
                &nbsp &nbsp &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(193,224,227)" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <br>
                  <h2 style = 'color: rgb(193,224,227);'> geocoding</h2>
            
            </div>
            <div style="float: right;margin-right: 100px;">
                &nbsp &nbsp &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(193,224,227)" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189l.956-1.913A.5.5 0 0 1 4.309 3h7.382a.5.5 0 0 1 .447.276l.956 1.913a.51.51 0 0 1-.497.731c-.91-.073-3.35-.17-4.597-.17-1.247 0-3.688.097-4.597.17a.51.51 0 0 1-.497-.731Z"/>
                  </svg>
                <br>
                <h2 style="color:rgb(193,224,227);">distances</h2>

            </div>

        </div>

        <div class = 'get'>
		
	    <form method = "POST" action="/">
                <button type="submit" name="submit" style="position:fixed;margin-left:600px;margin-top:500px;height:50px;width:500px;text-align:center;width:100px;color:white;border-color: rgb(193,224,227);border-radius:20px;background-color:rgb(20, 33, 54);background-size:cover;background-position:center;background-attachment: fixed;"> Go To App  </button>
            </form>

        </div>



    </body>

</html>
